<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Customer</title>
    <link rel="stylesheet" href="formDesign.css">
    <link rel="stylesheet" href="menustyles.css">
</head>
<body>
        <h1>Create new Customer</h1>
        <form class="CreationMenus" action="/createCustomer" method="post">
        <div><label>Enter Customer ID:</label><br>
        <input type="text" name="customer_id" placeholder="- nothing added -" style="text-align: center"></div>
        <div><label>Enter First Name:</label><br>
        <input type="text" name="first_name" placeholder="- nothing added -" style="text-align: center"></div>
        <div><label>Enter Last Name:</label><br>
        <input type="text" name="last_name" placeholder="- nothing added -" style="text-align: center"></div>
        <div><label>Enter Contact ID:</label><br>
        <input type="text" name="contact_id" placeholder="- nothing added -" style="text-align: center"></div>
        <div><label>Enter Address ID:</label><br>
        <input type="text" name="address_id" placeholder="- nothing added -" style="text-align: center"></div><br>
        <div><input style="background-color: lightsalmon" type="submit" value="Create new Customer"></div><br>
</form>
</body>
</html>