<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="customer.css">
</head>
<body>
        <h1>Create new Customer</h1>

        <form action="/createCustomer" method="post">

        <label>Enter ID</label>
        <input type="text" name="customer_id">

        <label>Enter First name</label>
        <input type="text" name="first_name">

        <label>Enter Last name</label>
        <input type="text" name="last_name">

        <label>Enter Contact ID</label>
        <input type="text" name="contact_id">

        <label>Enter Address Id</label>
        <input type="text" name="address_id">
        <input style="background-color: darkgrey" type="submit" value="Create new Customer">
</form>
</body>
</html>