<!---- Created by Rasmus Marco Berg ---->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="menustyles.css" th:href="@{/menustyles.css}">
</head>
<body>
<h1>Customer List</h1>
<div class="CenterTables"><a href="/createCustomer">
        <button class ="btn-createCustomer" id="btn-createCustomer">Create new Customer</button>
</a></div>
    <table>
        <thead>
        <tr>
            <th>Customer_ID</th>
            <th>First_Name</th>
            <th>Last_Name</th>
            <th>Contact_ID</th>
            <th>Address_ID</th>
            <th>Make Changes</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customers: ${customers}">
            <td th:text="${customers.customer_id}"></td>
            <td th:text="${customers.first_name}"></td>
            <td th:text="${customers.last_name}"></td>
            <td th:text="${customers.contact_id}"></td>
            <td th:text="${customers.address_id}"></td>
        <td>
            <a th:href="@{'/viewCustomer/'+${customers.customer_id}}">
                <button class ="btn-viewCustomer", id="btn-viewCustomer">
                    View
                </button>
            </a>

            <a th:href="@{'/deleteCustomer/'+${customers.customer_id}}">
                <button class ="btn-deleteCustomer", id="btn-deleteCustomer">Delete</button>
            </a>

            <a th:href="@{'/updateCustomer/'+${customers.customer_id}}">
                <button class ="btn-updateCustomer", id="btn-updateCustomer">Update</button>
            </a>
        </td>
        </tr>
        </tbody>
</table>
</body>
</html>