<!---- Created by Rasmus Marco Berg ---->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Customer</title>
    <link rel="stylesheet" href="menustyles.css" th:href="@{/menustyles.css}">
</head>
<body>
    <h1>Update Customer</h1>
    <form action="/updateCustomer" method="post">
        <div><label>Update Customer ID:</label><br>
        <input type="text" name="customer_id" th:value="${customers.customer_id}"></div>
        <div><label>Update First Name:</label><br>
        <input type="text" name="first_name"  th:value="${customers.first_name}"></div>
        <div><label>Update Last Name:</label><br>
        <input type="text" name="last_name"   th:value="${customers.last_name}"></div>
        <div><label>Update Contact ID:</label><br>
        <input type="text" name="contact_id"  th:value="${customers.contact_id}"></div>
        <div><label>Update Address ID:</label><br>
        <input type="text" name="address_id"  th:value="${customers.address_id}"></div><br>
        <div><input style="background-color: lightsalmon" type="submit" value="Save changes"></div><br>
    </form>
</body>
</html>