<!---- Created by Rasmus Marco Berg ---->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="menustyles.css" th:href="@{/menustyles.css}">
</head>
<body>
<h1>Customer details</h1>
<table class="ViewTables">
    <thead>
    <tr>
        <th>Customer_ID</th>
        <th>First_Name</th>
        <th>Last_Name</th>
        <th>Contact_ID</th>
        <th>Address_ID</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customers: ${customers}">
        <td th:text="${customers.customer_id}"></td>
        <td th:text="${customers.first_name}"></td>
        <td th:text="${customers.last_name}"></td>
        <td th:text="${customers.contact_id}"></td>
        <td th:text="${customers.address_id}"></td></tr></tbody></table>
</body>
</html>