* {
    font-family: Bahnschrift;

}
h1{
    position: center;
    text-align: center;
}
body{
    background-image: url("LakeRV.jpg");
    background-position: top;
    background-size: 100%;
}
nav{
    position: center;
    alignment: center;
}
ul{
}
ul li{
    position: center;
    alignment: center;
    list-style: none;
    display: grid;
    line-height: 33px;
}
ul li a{
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    font-family: Bahnschrift;
    color: black;
    background-color: lightgray;
    opacity: 60%;
}