/* IN THIS CLASS ARE THE DESIGNS FOR THE BACKGROUNDS AND MAIN PAGE GUI */

* {
    font-family: Bahnschrift;

}
h1{
    position: center;
    alignment: center;
    text-align: center;
    text-decoration: none;
    background-color: lightsteelblue;
    opacity: 75%;
    margin-left: 25%;
    margin-right: 25%;
}
a:link{text-decoration: none!important;}

body{
    background-image: url("LakeRV.jpg");
    background-position: top;
    background-repeat: initial;
    background-size: 100%;
    text-decoration: none;
    background-color: black;
}

.pagePreview{
    position: center;
    alignment: center;
    text-align: center;
    text-decoration: none;
    background-color: lightsteelblue;
    opacity: 75%;
    margin-left: 36%;
    margin-right: 36%;
    margin-top: 10%;
  }

/* BELOW HERE ARE THE FRONT PAGE BUTTONS' DESIGNS */

#btn-showMotorhomes{
    background-color: steelblue;
    margin-bottom: 10px;
}
#btn-showMotorhomeDetails{
    background-color: steelblue;
    margin-bottom: 10px;
}
#btn-showCustomerAddresses{
    background-color: steelblue;
    margin-bottom: 10px;
}
#btn-showCustomerContracts{
    background-color: steelblue;
    margin-bottom: 10px;
}
#btn-showCustomers{
    background-color: steelblue;
    margin-bottom: 10px;
}
#btn-showPickUpDropOff{
    background-color: steelblue;
    margin-bottom: 10px;
}
