table{
    border-collapse: collapse;
    width: 40%;
}
th{
    background-color: #a02626;
}
td, th{
    border: 1px solid black;
    text-align: left;
    padding: 4px;
}
tr:nth-child(even){
    background-color: whitesmoke;
}

body{
    background-color: whitesmoke;
}
#btn-viewMH {
    background-color: darkgoldenrod;
}
#btn-deleteMH {
    background-color: darkgoldenrod;
}
#btn-updateMH {
    background-color: darkgoldenrod;
}