table{
    border-collapse: collapse;
    width: 40%;
}
th{
    /*background-color: transparent;*/
}
td, th{
    border: 1px transparent;
    text-align: left;
    padding: 4px;
}
tr:nth-child(even){
    /*background-color: transparent;*/
}

body{
    /*background-color: transparent;*/
}