/* IN THIS CLASS ARE THE DESIGNS OF ALL THE TABLES & AND TABLE BUTTONS */

table{
    border-collapse: collapse;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}
.CenterTables{
    position: center;
    alignment: center;
    text-align: center;
    align-content: center;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;

}
th{
    background-color: steelblue;
    border: 1px solid black;
    text-align: center;
    padding: 2px;
}
td{
    background-color: lightsteelblue;
    border: 1px solid black;
    text-align: center;
    padding: 2px;
}
.btn{
    border: none;
    color: steelblue;
    padding: 10px 10px;
    text-align: center;
}
.btn:hover{
    box-shadow: 5px 5px 5px steelblue;
}
#btn-createMH{
    background-color: steelblue;
    margin-bottom: 10px;
}
#btn-viewMH{
    background-color: lightsalmon;
}
#btn-deleteMH{
    background-color: lightsalmon;
}
#btn-updateMH{
    background-color: lightsalmon;
}
#btn-createMotorhomeDetails{
    background-color: steelblue;
    margin-bottom: 10px;
}
#btn-viewOneMotorhomeDetail{
    background-color: lightsalmon;
}
#btn-deleteMotorhomeDetails{
    background-color: lightsalmon;
}
#btn-updateMotorhomeDetails{
    background-color: lightsalmon;
}
#btn-createDP{
    background-color: steelblue;
    margin-bottom: 10px;
}
#btn-viewPD{
    background-color: lightsalmon;
}
#btn-deletePD{
    background-color: lightsalmon;
}
#btn-updatePD{
    background-color: lightsalmon;
}
#btn-createCustomerAddresses{
    background-color: steelblue;
    margin-bottom: 10px;
}
#btn-viewOneCustomerAddresses{
    background-color: lightsalmon;
}
#btn-deleteCustomerAddresses{
    background-color: lightsalmon;
}
#btn-updateCustomerAddresses{
    background-color: lightsalmon;
}
#btn-createCustomer
{
    background-color: steelblue;
    margin-bottom: 10px;
}
#btn-viewCustomer{
    background-color: lightsalmon;
}
#btn-deleteCustomer{
    background-color: lightsalmon;
}
#btn-updateCustomer{
    background-color: lightsalmon;
}
#btn-createCustomerContacts{
    background-color: steelblue;
    margin-bottom: 10px;
}
#btn-view_ct{
     background-color: lightsalmon;
 }
#btn-delete_ct{
    background-color: lightsalmon;
}
#btn-update_ct{
    background-color: lightsalmon;
}
#btn-createTC{
    background-color: steelblue;
    margin-bottom: 10px;
}
#btn-viewTC{
    background-color: lightsalmon;
}
#btn-deleteTC{
    background-color: lightsalmon;
}
#btn-updateTC{
    background-color: lightsalmon;
}
#btn-createContract{
    background-color: steelblue;
    margin-bottom: 10px;
}
#btn-deleteContract{
    background-color: lightsalmon;
}
#btn-viewContract{
    background-color: lightsalmon;
}
#btn-updateContract{
    background-color: lightsalmon;
}