<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>NMR - Customers</title>
    <link rel="stylesheet" type="text/css" href="indexCSS.css">
    <link rel="stylesheet" href="MenuStyles.css">
</head>
<body>
<h1>WELCOME TO NORDIC MOTORHOMES RENTAL</h1>
<nav>
    <ul>
        <li><a href="#">Customer Names</a></li>
        <li><a href="#">Customer Contacts</a></li>
        <li><a href="#">Customer Addresses</a></li>
    </ul>
</nav>

</body>
</html>