<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="menustyles.css" th:href="@{/menustyles.css}">
</head>
<body>
<h1>Create new Contract</h1>
<form action="/createContract" method="post">
    <div><label>Enter Contract ID:</label><br>
        <input type="text" name="contract_id" placeholder="- nothing added -" style="text-align: center"></div>
    <div><label>Enter Pick-up/Drop-Off ID:</label><br>
        <input type="text" name="pd_id" placeholder="- nothing added -" style="text-align: center"></div>
    <div><label>Enter Terms & Conditions ID:</label><br>
        <input type="text" name="tc_id" placeholder="- nothing added -" style="text-align: center"></div>
    <div><label>Enter Motorhome ID:</label><br>
        <input type="text" name="motorhome_id" placeholder="- nothing added -" style="text-align: center"></div>
    <div><label>Enter Customer ID:</label><br>
        <input type="text" name="customer_id" placeholder="- nothing added -" style="text-align: center"></div><br>
    <div><input style="background-color: lightsalmon" type="submit" value="Create new Contract"></div><br>
</form>
</body>
</html>