<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Contract Details</title>
    link rel="stylesheet" href="formDesign.css">
    <link rel="stylesheet" href="menustyles.css">
</head>
<body>

        <h1>Contract Details</h1>

        <span th:text="${contracts.contract_id}"/></span>
        <span th:text="${contracts.pd_id}"/></span>
        <span th:text="${contracts.tc_id}"/></span>
        <span th:text="${contracts.motorhome_id}"/></span>
        <span th:text="${contracts.customer_id}"/></span>

</body>
</html>