<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create Terms & Conditions</title>
    <link rel="stylesheet" href="menustyles.css" th:href="@{/menustyles.css}">
</head>
<body>
    <h1>Create new Terms and Conditions</h1>
    <form action="/createTC" method="post">
        <div><label>Enter new Terms & Conditions ID:</label><br>
        <input type="text" name="tc_id" placeholder="- nothing added - " style="text-align: center"></div>
        <div><label>Enter Season (mid, high, low):</label><br>
        <input type="text" name="season" placeholder="- nothing added - " style="text-align: center"></div>
        <div><label>Enter Rent Days:</label><br>
        <input type="text" name="rent_days" placeholder="- nothing added - " style="text-align: center"></div>
        <div><label>Enter Kilometers:</label><br>
        <input type="text" name="km" placeholder="- nothing added - " style="text-align: center"></div>
        <div><label>Enter Fuel Tank %:</label><br>
        <input type="text" name="fuel_tank" placeholder="- nothing added - " style="text-align: center"></div>
        <div><label>Enter Cancellation Notes:</label><br>
        <input type="text" name="cancellation" placeholder="- nothing added - " style="text-align: center"></div>
        <div><label>Enter Notes (damages, extras, etc.):</label><br>
        <input type="text" name="notes" placeholder="- nothing added - " style="text-align: center"></div><br>
        <div><input style="background-color: lightsalmon" type="submit" value="Create new Pick-up/Drop-off"></div><br>
    </form>
</body>
</html>