<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="tableDesign.css">
    <link rel="stylesheet" href="menustyles.css">
</head>
<body>
    <h1>Terms and Conditions:</h1>
    <div class="CenterTables"><a href="/createTC">
        <button class="btn-createTC", id="btn-createTC">
            Create new Terms and Conditions
        </button>
    </a></div>
    <table>
        <thead>
        <tr>
            <th>Terms and Conditions Id</th>
            <th>Season (High/Mid/Low)</th>
            <th>Total rent days</th>
            <th>Kilometers</th>
            <th>Fuel tank in %</th>
            <th>Cancellation</th>
            <th>Notes (damages, ekstra's, etc.)</th>
            <th>Make Changes</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="termsandcond: ${termsandcond}">
            <td th:text="${termsandcond.tc_id}">
            <td th:text="${termsandcond.season}">
            <td th:text="${termsandcond.rent_days}">
            <td th:text="${termsandcond.km}">
            <td th:text="${termsandcond.fuel_tank}">
            <td th:text="${termsandcond.cancellation}">
            <td th:text="${termsandcond.notes}">
            <td>
                <a th:href="@{'/viewTC/'+${termsandcond.tc_id}}">
                    <button class="btn-viewTC", id="btn-viewTC">
                        View
                    </button>
                </a>
                <a th:href="@{'/deleteTC/'+${termsandcond.tc_id}}">
                    <button class="btn-deleteTC", id="btn-deleteTC">
                        Delete
                    </button>
                </a>
                <a th:href="@{'/updateTC/'+${termsandcond.tc_id}}">
                    <button class="btn-updateTC", id="btn-updateTC">
                        Update
                    </button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>
