<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Terms & Conditions</title>
    <link rel="stylesheet" href="menustyles.css" th:href="@{/menustyles.css}">
</head>
<body>
    <h1>Update Terms & Conditions</h1>
    <form action="/updateTC" method="post">
        <div><label>Update Terms & Conditions ID:</label><br>
        <input type="text" name="tc_id" th:value="${termsandcond.tc_id}"></div>
        <div><label>Update Season(mid, high, low):</label><br>
        <input type="text" name="season" th:value="${termsandcond.season}"></div>
        <div><label>Update Rent Days:</label><br>
        <input type="text" name="rent_days" th:value="${termsandcond.rent_days}"></div>
        <div><label>Update Kilometers:</label><br>
        <input type="text" name="km" th:value="${termsandcond.km}"></div>
        <div><label>Update Fuel Tank %:</label><br>
        <input type="text" name="fuel_tank" th:value="${termsandcond.fuel_tank}"></div>
        <div><label>Update Cancellation Notes:</label><br>
        <input type="text" name="cancellation" th:value="${termsandcond.cancellation}"></div><br>
        <div><label>Update Notes (damages, extras, etc.):</label><br>
        <input type="text" name="notes" th:value="${termsandcond.notes}"></div><br>
        <div><input style="background-color: lightsalmon" type="submit" value="Save Changes"></div><br>
    </form>
</body>
</html>