<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="tableDesign.css">
    <link rel="stylesheet" href="menustyles.css">
</head>
<body>
    <h1>Terms and conditions details</h1>

    <span th:text="${termsandcond.tc_id}"></span>
    <span th:text="${termsandcond.season}"></span>
    <span th:text="${termsandcond.rent_days}"></span>
    <span th:text="${termsandcond.km}"></span>
    <span th:text="${termsandcond.fuel_tank}"></span>
    <span th:text="${termsandcond.cancellation}"></span>
    <span th:text="${termsandcond.notes}"></span>

</body>
</html>