<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="customer.css">
</head>
<body>
<h1>Create new Customer Address</h1>

<form action="/CreateCustomerAddresses" method="post">
    <label>Enter Customer Address ID</label>
    <input type="text" name="address_id">
    <label>Enter Street Name</label>
    <input type="text" name="street_name">
    <label>Enter Street Number</label>
    <input type="text" name="street_no">
    <label>Enter City</label>
    <input type="text" name="city">
    <label>Enter Country</label>
    <input type="text" name="country">
    <label>Enter ZIP Code</label>
    <input type="text" name="zip">
    <input style="background-color: lightpink" type="submit" value="Create new Customer Address">
</form>
</body>
</html>