<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="tableDesign.css">
    <link rel="stylesheet" href="menustyles.css">
</head>
<body>
<h1>Create new Customer Address</h1>

<form action="/CreateCustomerAddresses" method="post">
    <div><label>Enter Customer Address ID:</label><br>
    <input type="text" name="address_id" placeholder="- nothing added -" style="text-align: center"></div>
    <div><label>Enter Street Name:</label><br>
    <input type="text" name="street_name" placeholder="- nothing added -" style="text-align: center"></div>
    <div><label>Enter Street Number:</label><br>
    <input type="text" name="street_no" placeholder="- nothing added -" style="text-align: center"></div>
    <div><label>Enter City:</label><br>
    <input type="text" name="city" placeholder="- nothing added -" style="text-align: center"></div>
    <div><label>Enter Country:</label><br>
    <input type="text" name="country" placeholder="- nothing added -" style="text-align: center"></div>
    <div><label>Enter ZIP Code:</label><br>
    <input type="text" name="zip" placeholder="- nothing added -" style="text-align: center"></div><br>
    <div><input style="background-color: steelblue" type="submit" value="Create new Customer Address"></div>
</form>
</body>
</html>