<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="tableDesign.css">
    <link rel="stylesheet" href="menustyles.css">
</head>
<body>
<h1>Create new Customer Address</h1>

<form action="/CreateCustomerAddresses" method="post">
    <div><label>Enter Customer Address ID:</label>
    <input type="text" name="address_id"></div>
    <div><label>Enter Street Name:</label>
    <input type="text" name="street_name"></div>
    <div><label>Enter Street Number:</label>
    <input type="text" name="street_no"></div>
    <div><label>Enter City:</label>
    <input type="text" name="city"></div>
    <div><label>Enter Country:</label>
    <input type="text" name="country"></div>
    <div><label>Enter ZIP Code:</label>
    <input type="text" name="zip"></div>
    <div><input style="background-color: lightsalmon" type="submit" value="Create new Customer Address"></div>
</form>
</body>
</html>