<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="menustyles.css" th:href="@{/menustyles.css}">
</head>
<body>
<h1>Customer Addresses</h1>
<table class="ViewTables">
    <thead>
    <tr>
        <th>Address_ID</th>
        <th>Street_Name</th>
        <th>Street_NO</th>
        <th>City</th>
        <th>Country</th>
        <th>ZIP</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customeraddresses: ${customeraddresses}">
        <td th:text="${customeraddresses.address_id}"></td>
        <td th:text="${customeraddresses.street_name}"></td>
        <td th:text="${customeraddresses.street_no}"></td>
        <td th:text="${customeraddresses.city}"></td>
        <td th:text="${customeraddresses.country}"></td>
        <td th:text="${customeraddresses.zip}"></td></tr></tbody></table>
</body>
</html>