<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="tableDesign.css">
    <link rel="stylesheet" href="menustyles.css">
</head>
<body>
<h1>Customer Addresses</h1>
<tbody>
<span th:text="${customeraddresses.address_id}"/>
<span th:text="${customeraddresses.street_name}"/>
<span th:text="${customeraddresses.street_no}"/>
<span th:text="${customeraddresses.city}"/>
<span th:text="${customeraddresses.country}"/>
<span th:text="${customeraddresses.zip}"/>
</tbody>
</body>
</html>