<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Motorhome Detail</title>
    <link rel="stylesheet" href="formDesign.css">
    <link rel="stylesheet" href="menustyles.css">
</head>
<body>
     <h1>Create new Motorhome Details</h1>
     <form class="CreationMenus" action="/CreateMotorhomeDetails" method="post">
          <div><label>Enter Motorhome Detail ID:</label><br>
          <input type="text" name="motorhome_detail_id" placeholder="- nothing added -" style="text-align: center"></div>
          <div><label>Enter Kilometers:</label><br>
          <input type="text" name="km" placeholder="- nothing added -" style="text-align: center"></div>
          <div><label>Enter Number of Passengers:</label><br>
          <input type="text" name="passengers" placeholder="- nothing added -" style="text-align: center"></div>
          <div><label>Enter Price per Day:</label><br>
          <input type="text" name="price_per_day" placeholder="- nothing added -" style="text-align: center"></div>
          <div><label>Enter Extra Details:</label><br>
          <input type="text" name="extra" placeholder="- nothing added -" style="text-align: center"></div><br>
          <div><input style="background-color: lightsalmon" type="submit" value="Create new Motorhome Details"></div><br>
     </form>
</body>
</html>