<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="tableDesign.css">
    <link rel="stylesheet" href="menustyles.css">
</head>
<body>
    <h1>Update Motorhome Details</h1>

    <form action="/UpdateMotorhomeDetails" method="post">
         <input type="text" name="motorhome_detail_id" th:value="${motorhomedetails.motorhome_detail_id}">
         <input type="text" name="km" th:value="${motorhomedetails.km}">
         <input type="text" name="passengers" th:value="${motorhomedetails.passengers}">
         <input type="text" name="price_per_day" th:value="${motorhomedetails.price_per_day}">
         <input type="text" name="extra" th:value="${motorhomedetails.extra}">
         <input type="submit" value="Save changes">
    </form>
</body>
</html>