<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Motorhome Details</title>
    <link rel="stylesheet" href="formDesign.css">
    <link rel="stylesheet" href="menustyles.css">
</head>
<body>
    <h1>Update Motorhome Details</h1>
    <form class="UpdateMenus" action="/UpdateMotorhomeDetails" method="post">
        <div><label>Update Detail ID:</label><br>
        <input type="text" name="motorhome_detail_id" th:value="${motorhomedetails.motorhome_detail_id}"></div>
        <div><label>Update Kilometers:</label><br>
        <input type="text" name="km" th:value="${motorhomedetails.km}"></div>
        <div><label>Update Passengers:</label><br>
        <input type="text" name="passengers" th:value="${motorhomedetails.passengers}"></div>
        <div><label>Update Price/Day:</label><br>
        <input type="text" name="price_per_day" th:value="${motorhomedetails.price_per_day}"></div>
        <div><label>Update Extra:</label><br>
        <input type="text" name="extra" th:value="${motorhomedetails.extra}"></div><br>
        <div><input style="background-color: lightsalmon" type="submit" value="Save changes"></div>div><br>
    </form>
</body>
</html>