<!---- Created by Alexandru Gabriel Panait ---->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="menustyles.css" th:href="@{/menustyles.css}">
</head>
<body>
   <h1>Motorhome Details</h1>
   <table  class="ViewTables">
       <thead>
       <tr>
           <th>Detail_ID</th>
           <th>KM</th>
           <th>Price/Day</th>
           <th>Passengers</th>
           <th>Extra</th>
       </tr>
       </thead>
       <tbody>
       <tr th:each="motorhomedetails: ${motorhomedetails}">
           <td th:text="${motorhomedetails.motorhome_detail_id}"></td>
           <td th:text="${motorhomedetails.km}"></td>
           <td th:text="${motorhomedetails.passengers}"></td>
           <td th:text="${motorhomedetails.price_per_day}"></td>
           <td th:text="${motorhomedetails.extra}"></td></tr></tbody></table>
</body>
</html>