<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="motorhome.css">
</head>
<body>
   <h1>Motorhome Details</h1>

   <span th:text="${motorhomedetails.motorhome_detail_id}"/>
   <span th:text="${motorhomedetails.km}"/>
   <span th:text="${motorhomedetails.passengers}"/>
   <span th:text="${motorhomedetails.price_per_day}"/>
   <span th:text="${motorhomedetails.extra}"/>

</body>
</html>