<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Pick-up & Drop-off</title>
    <link rel="stylesheet" href="formDesign.css">
    <link rel="stylesheet" href="menustyles.css">
</head>
<body>
    <h1>
        Create new Pick-off and Drop-off
    </h1>

    <form class="CreationMenus" action="/createDP" method="post">
        <div><label>Enter new Pick-up/Drop-off ID:</label><br>
        <input type="text" name="pd_id" placeholder="- nothing added -" style="text-align: center"></div>
        <div><label>Enter Pick-up Location:</label><br>
        <input type="text" name="pick_up_location" placeholder="- nothing added -" style="text-align: center"></div>
        <div><label>Enter Pick-up Distance:</label><br>
        <input type="text" name="pick_up_distance" placeholder="- nothing added -" style="text-align: center"></div>
        <div><label>Enter Drop-off Location:</label><br>
        <input type="text" name="drop_off_location" placeholder="- nothing added -" style="text-align: center"></div>
        <div><label>Enter Drop-off Distance:</label><br>
        <input type="text" name="drop_off_distance" placeholder="- nothing added -" style="text-align: center"></div><br>
        <div><input style="background-color: lightsalmon" type="submit" value="Create new Pick-up/Drop-off"></div><br>
    </form>
</body>
</html>