<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="pickupdropoff.css">
</head>
<body>
    <h1>
        Create new Pick-off and drop-off
    </h1>

    <form action="/createDP" method="post">
        <label>Enter new PD_ID</label>
        <input type="text" name="pd_id">
        <label>Enter new pick up location</label>
        <input type="text" name="pick_up_location">
        <label>Enter new pick up distance</label>
        <input type="text" name="pick_up_distance">
        <label>Enter new drop off location</label>
        <input type="text" name="drop_off_location">
        <label>Enter new drop off distance</label>
        <input type="text" name="drop_off_distance">
        <input type="submit" value="Create new Pick-up/Drop-off">
    </form>
</body>
</html>