<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="pickUpDropOffCSS.css">
</head>
<body>
    <h1>Pick-off and drop-off details:</h1>

    <span th:text="${pickupdropoff.pd_id}"></span>
    <span th:text="${pickupdropoff.pick_up_location}"></span>
    <span th:text="${pickupdropoff.pick_up_distance}"></span>
    <span th:text="${pickupdropoff.drop_off_location}"></span>
    <span th:text="${pickupdropoff.drop_off_distance}"></span>

</body>
</html>