<!-- THIS FUNCTION IS UNDER REVIEW AND IS TEMPORARILY ELIMINATED


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Please insert the data for the new customer contacts.</h1>
<form action="/CreateCustomerContact", method="post">
    <label>Enter the contact ID</label>
    <input type="text", name="contact_id">
    <label>Enter the E_Mail</label>
    <input type="text", name="e_mail">
    <label>Enter the Phone</label>
    <input type="text", name="phone">
    <input type="submit", value="Create new customer contact">
</form>

</body>
</html>    -->