<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Customer Contact</title>
    <link rel="stylesheet" href="formDesign.css">
    <link rel="stylesheet" href="menustyles.css">
</head>
<body>
<h1>Create new Customer Contacts</h1>
<form class="CreationMenus" action="/CreateCustomerContacts" method="post">
   <div><label>Enter Customer Contacts ID:</label><br>
    <input type="text" name="contact_id" placeholder="- nothing added -" style="text-align: center"></div>
    <div><label>Enter E-MAIL:</label><br>
    <input type="text" name="e_mail" placeholder="- nothing added -" style="text-align: center"></div>
    <div><label>Enter Phone Number:</label><br>
    <input type="text" name="phone" placeholder="- nothing added -" style="text-align: center"></div><br>
    <div><input style="background-color: lightsalmon" type="submit" value="Create new Customer Contacts"></div><br>
</form>
</body>
</html>