


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="customer.css">
</head>
<body>
h1>Create new Customer Contacts</h1>

<form action="/CreateCustomerContacts" method="post">
    <label>Enter Customer Contacts ID</label>
    <input type="text" name="contact_id">
    <label>Enter E-MAIL</label>
    <input type="text" name="e_mail">
    <label>Enter Phone Number</label>
    <input type="text" name="phone">
    <input style="background-color: lightpink" type="submit" value="Create new Customer Contacts">
</form>

</body>
</html>