


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Nordic Motorhomes</title>
    <link rel="stylesheet" type="text/css" href="tableDesign.css">
    <link rel="stylesheet" href="menustyles.css">
</head>
<body>
<h1>Update Customer Contacts</h1>
<form action="/UpdateCustomerContacts" method="post">
    <input type="text" name="contact_id" th:value="${customercontacts.contact_id}">
    <input type="text" name="e_mail" th:value="${customercontacts.e_mail}">
    <input type="text" name="phone" th:value="${customercontacts.phone}">
    <input type="submit" value="Save changes">
</form>

</body>
</html>