<!-- THIS FUNCTION IS UNDER REVIEW AND IS TEMPORARILY ELIMINATED


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Nordic Motorhomes</title>
</head>
<body>
<h1>Please update the desired field(s).</h1>
<form action="/UpdateCustomerContacts" method="post">
    <input type="text" name="contact_id" th:value="${customerContact.contact_id}">  --><!-- the name here must be the same as in the controller *** -->
   <!--  <input type="text" name="e_mail" th:value="${customerContact.e_mail}">
    <input type="text" name="phone" th:value="${customerContact.phone}">
    <button type="submit" value="Perform changes">Submit</button>
</form>

</body>
</html>  -->