<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.themeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="tableDesign.css">
    <link rel="stylesheet" href="menustyles.css">
</head>
<body>
    <h1>Create new Motorhome</h1>

    <form action="/createMH" method="post">
        <div><label>Enter ID:</label>
        <input type="text" name="motorhome_id"></div>
        <div><label>Enter Brand:</label>
        <input type="text" name="brand"></div>
        <div><label>Enter Model:</label>
        <input type="text" name="model"></div>
        <div><label>Enter Motorhome Detail_ID:</label>
        <input type="text" name="motorhome_detail_id"></div>
        <select name="motorhomedetails" id="motorhomedetails">
            <option value="md" th:each="md:${motorhomedetails}" th:text="${md.motorhome_detail_id +
            '-MD_ID ,' + md.km + ' km ' + ' , ' + md.passengers + ' Passengers ' + ' , ' + md.price_per_day + ' Price/day ' +
            ' , ' + ' Extras: ' + md.extra}"
            ></option>
        </select>
        <div><input style="background-color: lightsalmon" type="submit" value="Create new motorhome"></div>
    </form>
</body>
</html>