<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
     <h1>Create new Motorhome Details</h1>

     <form action="/CreateMotorhomeDetails" method="post">
          <label>Enter Motorhome Detail ID</label>
          <input type="text" name="motorhome_detail_id">
          <label>Enter KM</label>
          <input type="text" name="km">
          <label>Enter Number of Passengers</label>
          <input type="text" name="passengers">
          <label>Enter Price per Day</label>
          <input type="text" name="price_per_day">
          <label>Enter Extra Details</label>
          <input type="text" name="extra">
          <input style="background-color: lightpink" type="submit" value="Create new Motorhome Details">
     </form>
</body>
</html>