<!---- Created by Alin Cristian Bejinariu, Rasmus Marco Berg ---->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="menustyles.css" th:href="@{/menustyles.css}">
</head>
<body>
    <h1>Motorhome List</h1>
    <div class="CenterTables">
    <a href="/createMH">
        <button class ="btn-createMH" id="btn-createMH">
            Create new Motorhome
        </button>
    </a></div>
    <table>
        <thead>
        <tr>
            <th>Motorhome_ID</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Detail_ID</th>
            <th>Make Changes</th>
    </tr>
        </thead>
    <tbody>
    <tr th:each="motorhomes: ${motorhomes}">
        <td th:text="${motorhomes.motorhome_id}">
        <td th:text="${motorhomes.brand}">
        <td th:text="${motorhomes.model}">
        <td th:text="${motorhomes.motorhome_detail_id}">
        <td>
            <a th:href="@{'/viewMH/'+${motorhomes.motorhome_id}}">
                <button class ="btn-viewMH", id="btn-viewMH">View</button>
            </a>
             <a th:href="@{'/deleteMH/'+${motorhomes.motorhome_id}}">
                <button class ="btn-deleteMH", id="btn-deleteMH">Delete</button>
             </a>
            <a th:href="@{'/updateMH/'+${motorhomes.motorhome_id}}">
                <button class ="btn-updateMH", id="btn-updateMH">Update</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>