<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="MotorhomeCSS.css">
</head>
<body>
    <h1>Motorhome List</h1>
    <a href="/createMH">
        <button class ="btn-createMH" id="btn-createMH">Create new Motorhome</button>
    </a>

    <table>
        <thead>
        <tr>
            <th>Motorhome_ID</th>
            <th>Brand</th>
            <th>Model</th>
            <th>MotorhomeDetail_ID</th>
    </tr>
        </thead>
    <tbody>
    <tr th:each="motorhome: ${motorhomes}">
        <td th:text="${motorhome.motorhome_id}">
        <td th:text="${motorhome.brand}">
        <td th:text="${motorhome.model}">
        <td th:text="${motorhome.motorhome_detail_id}">
        <td>
            <a th:href="@{'/viewMH/'+${motorhome_id}}">
                <button class ="btn-viewMH", id="btn-viewMH">View</button>
            </a>
             <a th:href="@{'/deleteMH/'+${motorhome_id}}">
                <button class ="btn-deleteMH", id="btn-deleteMH">Delete</button>
             </a>
            <a th:href="@{'/updateMH/'+${motorhome_id}}">
                <button class ="btn-updateMH", id="btn-updateMH">Edit person</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>