<!---- Created by Alin Cristian Bejinariu, Rasmus Marco Berg ---->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="menustyles.css" th:href="@{/menustyles.css}">
</head>
<body>
    <h1>Motorhome details</h1>
    <table class="ViewTables">
        <thead>
        <tr>
            <th>Motorhome_ID</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Detail_ID</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="motorhomes: ${motorhomes}">
            <td th:text="${motorhomes.motorhome_id}">
            <td th:text="${motorhomes.brand}">
            <td th:text="${motorhomes.model}">
            <td th:text="${motorhomes.motorhome_detail_id}">
        </td></tr></tbody></table>
</body>
</html>