<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Nordic Motorhome</title>
    <link rel="stylesheet" href="menustyles.css">
</head>
<body>
    <h1>WELCOME TO NORDIC MOTORHOMES RENTAL</h1>
    <div class="pagePreview">
    <div>
        <h3>Choose between the motorhome tables:</h3>
    <a href="/ShowMotorhomes">
        <button class="btn-showMotorhomes" id="btn-showMotorhomes">
            List of Motorhomes
        </button>
    </a>
    <a href="/ShowMotorhomeDetails">
        <button class="btn-showMotorhomeDetails" id="btn-showMotorhomeDetails">
            List of Motorhome details
        </button>
    </a>
    </div>

    <div>
        <h3>Choose between the customer tables:</h3>
    <a href="/ShowCustomerAddresses">
        <button class="btn-showCustomerAddresses" id="btn-showCustomerAddresses">
            List of Customer addresses
        </button>
    </a>
    <a href="/ShowCustomerContracts">
        <button class="btn-showCustomerContracts" id="btn-showCustomerContracts">
            List of Costumer Contracts details
        </button>
    </a>
    <a href="/ShowCustomer">
        <button class="btn-showCustomer" id="btn-showCustomer">
            List of Customers
        </button>
    </a>
    </div>

    <div></div>
        <h3>Choose between the contract tables:</h3>
    <a href="/ShowPickUpDropOff">
        <button class="btn-showPickUpDropOff" id="btn-showPickUpDropOff">
            List of Pick-up and drop-offs
        </button>
    </a>

    <a href="/ShowTermsAndCond">
        <button class="btn-showTermsAndCond" id="btn-showTermsAndCond">
            List of Terms and conditions
        </button>
    </a>
    </div>
    </div>

</body>
</html>