<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>NMR</title>
    <link rel="stylesheet" type="text/css" href="indexCSS.css">
</head>
<body>
    <h1>WELCOME TO NORDIC MOTORHOMES RENTAL</h1>


    <a href="/ShowMotorhomes">
        <button class="btn-showMotorhomes" id="btn-showMotorhomes">
            List of Motorhomes
        </button>
    </a>

    <a href="/ShowMotorhomeDetails">
        <button class="btn-showMotorhomeDetails" id="btn-showMotorhomeDetails">
            List of Motorhome details
        </button>
    </a>

 <!--  THIS FUNCTION IS UNDER REVIEW AND IS TEMPORARILY ELIMINATED 

  <a href="/ShowCustomer">
        <button class="btn-showCustomers" id="btn-showCustomers">
            List of Customers
        </button>
    </a>

    -->

    <a href="/ShowPickUpDropOff">
        <button class="btn-showPickUpDropOff" id="btn-showPickUpDropOff">
            List of Pick-up and drop-offs
        </button>
    </a>
</body>
</html>