<!---- Created by Alexandru Gabriel Panait, Rasmus Marco Berg ---->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Nordic Motorhome</title>
    <link rel="stylesheet" href="menustyles.css" th:href="@{/menustyles.css}">
</head>
<body>
    <h1>WELCOME TO NORDIC MOTORHOMES RENTAL</h1>
    <div class="pagePreview">

        <!--  HERE STARTS THE 1st PARAGRAPH  -->

    <div>
        <h3>Choose between the motorhome tables:</h3>
    <a href="/ShowMotorhomes">
        <button class="btn-showMotorhomes" id="btn-showMotorhomes">
            Motorhomes
        </button>
    </a>
    <a href="/ShowMotorhomeDetails">
        <button class="btn-showMotorhomeDetails" id="btn-showMotorhomeDetails">
            Motorhome Details
        </button>
    </a>
    </div>

        <!--  HERE STARTS THE 2nd PARAGRAPH  -->

    <div>
        <h3>Choose between the customer tables:</h3>
    <a href="/ShowCustomerAddresses">
        <button class="btn-showCustomerAddresses" id="btn-showCustomerAddresses">
            Customer Addresses
        </button>
    </a>
    <a href="/ShowCustomerContacts">
        <button class="btn-showCustomerContacts" id="btn-showCustomerContacts">
            Customer Contacts
        </button>
    </a>
    <a href="/ShowCustomer">
        <button class="btn-showCustomer" id="btn-showCustomer">
            Customers
        </button>
    </a>
    </div>

        <!--  HERE STARTS THE 3rd PARAGRAPH  -->

    <div>
        <h3>Choose between the contract tables:</h3>
    <a href="/ShowPickUpDropOff">
        <button class="btn-showPickUpDropOff" id="btn-showPickUpDropOff">
            Pick-up & Drop-off
        </button>
    </a>
    <a href="/ShowTermsAndCond">
        <button class="btn-showTermsAndCond" id="btn-showTermsAndCond">
            Terms & Conditions
        </button>
    </a>
    <a href="/showContracts">
        <button class="btn-showContracts" id="btn-showContracts">
            Contracts
        </button>
    </a>
    </div>
    </div>
</body>
</html>